body {
    margin: 0;
    background-color: rgba(39, 35, 72, 0.82);

}

#container {
    width: 60%;
    height: 100vh;
    margin-left: 20%;
    border-right: 0.1px solid #b505f1;
    border-left: 0.1px solid #b505f1;
    background: #20203d;
    box-shadow: 0 4px 8px 0 #fbb7ff, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#post{
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    margin-top: 30px;
}


#header{
    margin:15px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}